<div class="img-frame">

 <div class="img-01">
 <p>成央学院</p>
 </div>
 <div class="img-02">
 <p>成央学院</p>
 </div>
 <div class="img-03">
 <p>成央学院</p>
 </div>
</div>




<h2 class="osirase">お知らせ</h2>

<div class="toppages-container">
  <% if user_signed_in? && current_user.admin == true %>
      <%= link_to "新規投稿へ", new_toppage_path %>
  <% end %>
  <% @toppages.each do |t| %>
    <div class="toppage">
      <%= t.body %>
      
    </div>
    <% if user_signed_in? && current_user.admin == true %>
    <%= link_to "編集する", edit_toppage_path(t.id) %>
    <%= button_to "削除する", toppage_path(t.id), method: :delete %>
    <% end %>
  <% end %>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.481663383004!2d140.04405599999998!3d35.714371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022807206c72ce7%3A0x4f054cc68de86675!2z5oiQ5aSu5a2m6Zmi!5e0!3m2!1sja!2sjp!4v1697261826458!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.126176956812!2d140.0261266!3d35.6985125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602280188f3204ff%3A0x968701d888aa25e6!2z5oiQ5aSu5a2m6Zmi5YmN5Y6f5qCh!5e0!3m2!1sja!2sjp!4v1697262063072!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



<% if user_signed_in? %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"buttonkirai" %>
<% else %>
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path %>
<% end %>
